In [158]:
library(ggplot2)
library(dplyr)

motorcycle_data <- read.csv("Datasets/cycle_flag.csv",
                       encoding='latin-1')

In [159]:
df1 <- motorcycle_data[c('CRASH_YEAR','MCYCLE_DEATH_COUNT')]

head(df1)

  CRASH_YEAR MCYCLE_DEATH_COUNT
1 1997       0
2 1997       0
3 1997       0
4 1997       0
5 1997       0
6 1997       0

In [160]:
df1$metric1997 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==1997])
df1$metric1998 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==1998])
df1$metric1999 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==1999])
df1$metric2000 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2000])
df1$metric2001 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2001])
df1$metric2002 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2002])
df1$metric2003 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2003])
df1$metric2004 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2004])
df1$metric2005 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2005])
df1$metric2006 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2007])
df1$metric2008 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2008])
df1$metric2009 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2009])
df1$metric2010 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2010])
df1$metric2011 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2011])
df1$metric2012 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2012])
df1$metric2013 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2013])
df1$metric2014 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2014])
df1$metric2015 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2015])
df1$metric2016 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2016])



head(df1)

  CRASH_YEAR MCYCLE_DEATH_COUNT metric1997 metric1998 metric1999 metric2000
1 1997       0                  97         120        116        157
2 1997       0                  97         120        116        157
3 1997       0                  97         120        116        157
4 1997       0                  97         120        116        157
5 1997       0                  97         120        116        157
6 1997       0                  97         120        116        157
  metric2001 metric2002 metric2003 metric2004 <U+22EF>   metric2006 metric2008
1 141        121        161        167        <U+22EF> 232        245
2 141        121        161        167        <U+22EF> 232        245
3 141        121        161        167        <U+22EF> 232        245
4 141        121        161        167        <U+22EF> 232        245
5 141        121        161        167        <U+22EF> 232        245
6 141        121        161        167        <U+22EF> 232        245
  metric2009 metric2010 metric2011 metric2012 metric2013 metric2014 metric2015
1 256        239        219        219        197        189        185
2 256        239        219        219        197        189        185
3 256        239        219        219        197        189        185
4 256        239        219        219        197        189        185
5 256        239        219        219        197        189        185
6 256        239        219        219        197        189        185
  metric2016
1 199
2 199
3 199
4 199
5 199
6 199

In [161]:
df1$CRASH_YEAR <- NULL
df1$MCYCLE_DEATH_COUNT <- NULL
#df1<-cbind(label = "deaths", df1)
#df <- sqldf('select "deaths" as metricLabel
head(df1)

  metric1997 metric1998 metric1999 metric2000 metric2001 metric2002 metric2003
1 97         120        116        157        141        121        161
2 97         120        116        157        141        121        161
3 97         120        116        157        141        121        161
4 97         120        116        157        141        121        161
5 97         120        116        157        141        121        161
6 97         120        116        157        141        121        161
  metric2004 metric2005 metric2006 metric2008 metric2009 metric2010 metric2011
1 167        219        232        245        256        239        219
2 167        219        232        245        256        239        219
3 167        219        232        245        256        239        219
4 167        219        232        245        256        239        219
5 167        219        232        245        256        239        219
6 167        219        232        245        256        239        219
  metric2012 metric2013 metric2014 metric2015 metric2016
1 219        197        189        185        199
2 219        197        189        185        199
3 219        197        189        185        199
4 219        197        189        185        199
5 219        197        189        185        199
6 219        197        189        185        199

In [162]:
df1<-df1[1,]
df1$label = "deaths"
df1 = df1[,c(20,1:19)]
df1

  label  metric1997 metric1998 metric1999 metric2000 metric2001 metric2002
1 deaths 97         120        116        157        141        121
  metric2003 metric2004 metric2005 metric2006 metric2008 metric2009 metric2010
1 161        167        219        232        245        256        239
  metric2011 metric2012 metric2013 metric2014 metric2015 metric2016
1 219        219        197        189        185        199

In [163]:

#registered_cycles = c(51.4, 59.7, 56.6,71.2,56.6,54.8,59.2,55.1,65.5,55.7,63.0,61.4,52.5,56.7,49.9,51.9,45.2,46.9,45.1,49.0)

df2<-rbind(df1, c('deaths_per_100000' ,51.4, 59.7, 56.6,71.2,56.6,54.8,59.2,55.1,65.5,55.7,63.0,61.4,52.5,56.7,49.9,51.9,45.2,46.9,45.1,49.0))

df2

  label             metric1997 metric1998 metric1999 metric2000 metric2001
1 deaths            97         120        116        157        141
2 deaths_per_100000 51.4       59.7       56.6       71.2       56.6
  metric2002 metric2003 metric2004 metric2005 metric2006 metric2008 metric2009
1 121        161        167        219        232        245        256
2 54.8       59.2       55.1       65.5       55.7       63         61.4
  metric2010 metric2011 metric2012 metric2013 metric2014 metric2015 metric2016
1 239        219        219        197        189        185        199
2 52.5       56.7       49.9       51.9       45.2       46.9       45.1

In [165]:
helmet_unknown <- motorcycle_data[c('CRASH_YEAR','MC_DVR_HLMTON_IND','MCYCLE_DEATH_COUNT')]

In [166]:

helmet_unknown <- subset(helmet_unknown, MCYCLE_DEATH_COUNT>=1,drop=FALSE)

In [167]:
for(unique_value in unique(helmet_unknown$MC_DVR_HLMTON_IND)){
helmet_unknown[paste("MC_DVR_HLMTON_IND", unique_value, sep = ".")] <- ifelse(helmet_unknown$MC_DVR_HLMTON_IND == unique_value, 1, 0)
}
head(helmet_unknown)

     CRASH_YEAR MC_DVR_HLMTON_IND MCYCLE_DEATH_COUNT MC_DVR_HLMTON_IND.U
4883 1997       U                 1                  1
4886 1997       U                 1                  1
4887 1997       U                 1                  1
4888 1997       U                 1                  1
4890 1997       U                 1                  1
4891 1997       U                 1                  1
     MC_DVR_HLMTON_IND.  MC_DVR_HLMTON_IND.Y MC_DVR_HLMTON_IND.N
4883 0                   0                   0
4886 0                   0                   0
4887 0                   0                   0
4888 0                   0                   0
4890 0                   0                   0
4891 0                   0                   0

In [168]:
helmet_unknown$metric1997 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==1997])
helmet_unknown$metric1998 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==1998])
helmet_unknown$metric1999 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==1999])
helmet_unknown$metric2000 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2000])
helmet_unknown$metric2001 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2001])
helmet_unknown$metric2002 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2002])
helmet_unknown$metric2003 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2003])
helmet_unknown$metric2004 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2004])
helmet_unknown$metric2005 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2005])
helmet_unknown$metric2006 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2007])
helmet_unknown$metric2008 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2008])
helmet_unknown$metric2009 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2009])
helmet_unknown$metric2010 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2010])
helmet_unknown$metric2011 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2011])
helmet_unknown$metric2012 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2012])
helmet_unknown$metric2013 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2013])
helmet_unknown$metric2014 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2014])
helmet_unknown$metric2015 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2015])
helmet_unknown$metric2016 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2016])

head(helmet_unknown)

     CRASH_YEAR MC_DVR_HLMTON_IND MCYCLE_DEATH_COUNT MC_DVR_HLMTON_IND.U
4883 1997       U                 1                  1
4886 1997       U                 1                  1
4887 1997       U                 1                  1
4888 1997       U                 1                  1
4890 1997       U                 1                  1
4891 1997       U                 1                  1
     MC_DVR_HLMTON_IND.  MC_DVR_HLMTON_IND.Y MC_DVR_HLMTON_IND.N metric1997
4883 0                   0                   0                   93
4886 0                   0                   0                   93
4887 0                   0                   0                   93
4888 0                   0                   0                   93
4890 0                   0                   0                   93
4891 0                   0                   0                   93
     metric1998 metric1999 <U+22EF>   metric2006 metric2008 metric2009 metric2010
4883 115        111        <U+22EF> 26         23         23         9
4886 115        111        <U+22EF> 26         23         23         9
4887 115        111        <U+22EF> 26         23         23         9
4888 115        111        <U+22EF> 26         23         23         9
4890 115        111        <U+22EF> 26         23         23         9
4891 115        111        <U+22EF> 26         23         23         9
     metric2011 metric2012 metric2013 metric2014 metric2015 metric2016
4883 32         19         23         20         16         21
4886 32         19         23         20         16         21
4887 32         19         23         20         16         21
4888 32         19         23         20         16         21
4890 32         19         23         20         16         21
4891 32         19         23         20         16         21

In [169]:
# helmet_unknown$MC_DVR_HLMTON_IND <- NULL
# helmet_unknown$MC_DVR_HLMTON_IND. <- NULL
# helmet_unknown$MC_DVR_HLMTON_IND.N <- NULL
# helmet_unknown$MC_DVR_HLMTON_IND.Y <- NULL
# helmet_unknown$MC_DVR_HLMTON_IND.U <-NULL

#helmet_unknown <- motorcycle_data[-c('MC_DVR_HLMTON_IND','MC_DVR_HLMTON_IND.','MC_DVR_HLMTON_IND.N','MC_DVR_HLMTON_IND.Y','MC_DVR_HLMTON_IND.U')]
#helmet_unknown <- subset(helmet_unknown, select = -c('MC_DVR_HLMTON_IND','MC_DVR_HLMTON_IND.','MC_DVR_HLMTON_IND.N','MC_DVR_HLMTON_IND.Y','MC_DVR_HLMTON_IND.U') )

In [170]:
helmet_unknown<-helmet_unknown[1,]
helmet_unknown$label = "unknown helmet"
helmet_unknown <- helmet_unknown[ -c(1:7) ]
helmet_unknown = helmet_unknown[,c(20,1:19)]

helmet_unknown

     label   metric1997 metric1998 metric1999 metric2000 metric2001 metric2002
4883 unknown 93         115        111        156        132        116
     metric2003 metric2004 metric2005 metric2006 metric2008 metric2009
4883 152        22         25         26         23         23
     metric2010 metric2011 metric2012 metric2013 metric2014 metric2015
4883 9          32         19         23         20         16
     metric2016
4883 21

In [171]:
helmet_yes <- motorcycle_data[c('CRASH_YEAR','MC_DVR_HLMTON_IND','MCYCLE_DEATH_COUNT')]

In [172]:
helmet_yes <- subset(helmet_yes, MCYCLE_DEATH_COUNT>=1)

In [173]:
for(unique_value in unique(helmet_yes$MC_DVR_HLMTON_IND)){
helmet_yes[paste("MC_DVR_HLMTON_IND", unique_value, sep = ".")] <- ifelse(helmet_yes$MC_DVR_HLMTON_IND == unique_value, 1, 0)
}
head(helmet_yes)

     CRASH_YEAR MC_DVR_HLMTON_IND MCYCLE_DEATH_COUNT MC_DVR_HLMTON_IND.U
4883 1997       U                 1                  1
4886 1997       U                 1                  1
4887 1997       U                 1                  1
4888 1997       U                 1                  1
4890 1997       U                 1                  1
4891 1997       U                 1                  1
     MC_DVR_HLMTON_IND.  MC_DVR_HLMTON_IND.Y MC_DVR_HLMTON_IND.N
4883 0                   0                   0
4886 0                   0                   0
4887 0                   0                   0
4888 0                   0                   0
4890 0                   0                   0
4891 0                   0                   0

In [174]:
helmet_yes$metric1997 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==1997])
helmet_yes$metric1998 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==1998])
helmet_yes$metric1999 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==1999])
helmet_yes$metric2000 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2000])
helmet_yes$metric2001 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2001])
helmet_yes$metric2002 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2002])
helmet_yes$metric2003 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2003])
helmet_yes$metric2004 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2004])
helmet_yes$metric2005 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2005])
helmet_yes$metric2006 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2007])
helmet_yes$metric2008 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2008])
helmet_yes$metric2009 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2009])
helmet_yes$metric2010 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2010])
helmet_yes$metric2011 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2011])
helmet_yes$metric2012 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2012])
helmet_yes$metric2013 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2013])
helmet_yes$metric2014 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2014])
helmet_yes$metric2015 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2015])
helmet_yes$metric2016 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2016])

head(helmet_yes)

     CRASH_YEAR MC_DVR_HLMTON_IND MCYCLE_DEATH_COUNT MC_DVR_HLMTON_IND.U
4883 1997       U                 1                  1
4886 1997       U                 1                  1
4887 1997       U                 1                  1
4888 1997       U                 1                  1
4890 1997       U                 1                  1
4891 1997       U                 1                  1
     MC_DVR_HLMTON_IND.  MC_DVR_HLMTON_IND.Y MC_DVR_HLMTON_IND.N metric1997
4883 0                   0                   0                   0
4886 0                   0                   0                   0
4887 0                   0                   0                   0
4888 0                   0                   0                   0
4890 0                   0                   0                   0
4891 0                   0                   0                   0
     metric1998 metric1999 <U+22EF>   metric2006 metric2008 metric2009 metric2010
4883 0          0          <U+22EF> 73         74         74         59
4886 0          0          <U+22EF> 73         74         74         59
4887 0          0          <U+22EF> 73         74         74         59
4888 0          0          <U+22EF> 73         74         74         59
4890 0          0          <U+22EF> 73         74         74         59
4891 0          0          <U+22EF> 73         74         74         59
     metric2011 metric2012 metric2013 metric2014 metric2015 metric2016
4883 64         70         56         52         58         62
4886 64         70         56         52         58         62
4887 64         70         56         52         58         62
4888 64         70         56         52         58         62
4890 64         70         56         52         58         62
4891 64         70         56         52         58         62

In [175]:
helmet_yes<-helmet_yes[1,]
helmet_yes$label = "helmet"
helmet_yes <- helmet_yes[ -c(1:7) ]
helmet_yes = helmet_yes[,c(20,1:19)]

helmet_yes

     label  metric1997 metric1998 metric1999 metric2000 metric2001 metric2002
4883 helmet 0          0          0          0          0          1
     metric2003 metric2004 metric2005 metric2006 metric2008 metric2009
4883 1          43         62         73         74         74
     metric2010 metric2011 metric2012 metric2013 metric2014 metric2015
4883 59         64         70         56         52         58
     metric2016
4883 62

In [176]:
helmet_no <- motorcycle_data[c('CRASH_YEAR','MC_DVR_HLMTON_IND','MCYCLE_DEATH_COUNT')]

In [177]:
helmet_no <- subset(helmet_no, MCYCLE_DEATH_COUNT>=1)

In [178]:
for(unique_value in unique(helmet_no$MC_DVR_HLMTON_IND)){
helmet_no[paste("MC_DVR_HLMTON_IND", unique_value, sep = ".")] <- ifelse(helmet_no$MC_DVR_HLMTON_IND == unique_value, 1, 0)
}
head(helmet_no)

     CRASH_YEAR MC_DVR_HLMTON_IND MCYCLE_DEATH_COUNT MC_DVR_HLMTON_IND.U
4883 1997       U                 1                  1
4886 1997       U                 1                  1
4887 1997       U                 1                  1
4888 1997       U                 1                  1
4890 1997       U                 1                  1
4891 1997       U                 1                  1
     MC_DVR_HLMTON_IND.  MC_DVR_HLMTON_IND.Y MC_DVR_HLMTON_IND.N
4883 0                   0                   0
4886 0                   0                   0
4887 0                   0                   0
4888 0                   0                   0
4890 0                   0                   0
4891 0                   0                   0

In [179]:
helmet_no$metric1997 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==1997])
helmet_no$metric1998 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==1998])
helmet_no$metric1999 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==1999])
helmet_no$metric2000 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2000])
helmet_no$metric2001 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2001])
helmet_no$metric2002 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2002])
helmet_no$metric2003 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2003])
helmet_no$metric2004 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2004])
helmet_no$metric2005 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2005])
helmet_no$metric2006 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2007])
helmet_no$metric2008 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2008])
helmet_no$metric2009 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2009])
helmet_no$metric2010 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2010])
helmet_no$metric2011 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2011])
helmet_no$metric2012 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2012])
helmet_no$metric2013 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2013])
helmet_no$metric2014 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2014])
helmet_no$metric2015 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2015])
helmet_no$metric2016 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2016])

head(helmet_no)

     CRASH_YEAR MC_DVR_HLMTON_IND MCYCLE_DEATH_COUNT MC_DVR_HLMTON_IND.U
4883 1997       U                 1                  1
4886 1997       U                 1                  1
4887 1997       U                 1                  1
4888 1997       U                 1                  1
4890 1997       U                 1                  1
4891 1997       U                 1                  1
     MC_DVR_HLMTON_IND.  MC_DVR_HLMTON_IND.Y MC_DVR_HLMTON_IND.N metric1997
4883 0                   0                   0                   0
4886 0                   0                   0                   0
4887 0                   0                   0                   0
4888 0                   0                   0                   0
4890 0                   0                   0                   0
4891 0                   0                   0                   0
     metric1998 metric1999 <U+22EF>   metric2006 metric2008 metric2009 metric2010
4883 0          0          <U+22EF> 80         117        122        136
4886 0          0          <U+22EF> 80         117        122        136
4887 0          0          <U+22EF> 80         117        122        136
4888 0          0          <U+22EF> 80         117        122        136
4890 0          0          <U+22EF> 80         117        122        136
4891 0          0          <U+22EF> 80         117        122        136
     metric2011 metric2012 metric2013 metric2014 metric2015 metric2016
4883 105        116        103        109        106        107
4886 105        116        103        109        106        107
4887 105        116        103        109        106        107
4888 105        116        103        109        106        107
4890 105        116        103        109        106        107
4891 105        116        103        109        106        107

In [180]:
helmet_no<-helmet_no[1,]
helmet_no$label = "no_helmet"
helmet_no <- helmet_no[ -c(1:7) ]
helmet_no = helmet_no[,c(20,1:19)]

helmet_no

     label     metric1997 metric1998 metric1999 metric2000 metric2001
4883 no_helmet 0          0          0          0          0
     metric2002 metric2003 metric2004 metric2005 metric2006 metric2008
4883 0          1          25         60         80         117
     metric2009 metric2010 metric2011 metric2012 metric2013 metric2014
4883 122        136        105        116        103        109
     metric2015 metric2016
4883 106        107

In [181]:
helmets<-rbind(helmet_unknown,helmet_yes,helmet_no)
helmets

      label     metric1997 metric1998 metric1999 metric2000 metric2001
4883  unknown   93         115        111        156        132
48831 helmet     0           0          0          0          0
48832 no_helmet  0           0          0          0          0
      metric2002 metric2003 metric2004 metric2005 metric2006 metric2008
4883  116        152        22         25         26          23
48831   1          1        43         62         73          74
48832   0          1        25         60         80         117
      metric2009 metric2010 metric2011 metric2012 metric2013 metric2014
4883   23          9         32         19         23         20
48831  74         59         64         70         56         52
48832 122        136        105        116        103        109
      metric2015 metric2016
4883   16         21
48831  58         62
48832 106        107

In [182]:
df3<-rbind(df2, helmets)
df3

      label             metric1997 metric1998 metric1999 metric2000 metric2001
1     deaths            97         120        116        157        141
2     deaths_per_100000 51.4       59.7       56.6       71.2       56.6
4883  unknown           93         115        111        156        132
48831 helmet            0          0          0          0          0
48832 no_helmet         0          0          0          0          0
      metric2002 metric2003 metric2004 metric2005 metric2006 metric2008
1     121        161        167        219        232        245
2     54.8       59.2       55.1       65.5       55.7       63
4883  116        152        22         25         26         23
48831 1          1          43         62         73         74
48832 0          1          25         60         80         117
      metric2009 metric2010 metric2011 metric2012 metric2013 metric2014
1     256        239        219        219        197        189
2     61.4       52.5       56.7       49.9       51.9       45.2
4883  23         9          32         19         23         20
48831 74         59         64         70         56         52
48832 122        136        105        116        103        109
      metric2015 metric2016
1     185        199
2     46.9       45.1
4883  16         21
48831 58         62
48832 106        107

In [184]:
# #this will create your js array to send to the js code
# myf2 <- function(x) { sprintf('["%s",%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s]', x[1], x[2],x[3],x[4],x[5],x[6],x[7],x[8],x[9],x[10],x[11],x[12],x[13])}
# data <- apply(helmets,1,myf2)
# msg_str2 <- paste0('[',toString(data),']')
# msg_str2


myf1 <- function(x) { sprintf('["%s",%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s]', 
                              x[1], x[2],x[3],x[4],x[5],x[6],x[7],x[8],x[9],x[10],x[11],x[12],x[13],x[13],x[14]
                             ,x[15],x[16],x[17],x[18],x[19],x[20])}
data <- apply(df3,1,myf1)
msg_str1 <- paste0('[',toString(data),']')
msg_str1

[1] "[[\"deaths\",97,120,116,157,141,121,161,167,219,232,245,256,256,239,219,219,197,189,185,199], [\"deaths_per_100000\",51.4,59.7,56.6,71.2,56.6,54.8,59.2,55.1,65.5,55.7,63,61.4,61.4,52.5,56.7,49.9,51.9,45.2,46.9,45.1], [\"unknown\",93,115,111,156,132,116,152,22,25,26,23,23,23,9,32,19,23,20,16,21], [\"helmet\",0,0,0,0,0,1,1,43,62,73,74,74,74,59,64,70,56,52,58,62], [\"no_helmet\",0,0,0,0,0,0,1,25,60,80,117,122,122,136,105,116,103,109,106,107]]"

In [ ]:
# UI 
library(shiny)
library(jsonlite)
library(reshape2)
library(ggplot2)
library(dplyr)
library(data.table)

motorcycle_data<-fread('cycle_flag.csv', data.table=FALSE)

df1 <- motorcycle_data[c('CRASH_YEAR','MCYCLE_DEATH_COUNT')]

df1$metric1997 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==1997])
df1$metric1998 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==1998])
df1$metric1999 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==1999])
df1$metric2000 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2000])
df1$metric2001 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2001])
df1$metric2002 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2002])
df1$metric2003 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2003])
df1$metric2004 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2004])
df1$metric2005 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2005])
df1$metric2006 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2007])
df1$metric2008 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2008])
df1$metric2009 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2009])
df1$metric2010 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2010])
df1$metric2011 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2011])
df1$metric2012 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2012])
df1$metric2013 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2013])
df1$metric2014 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2014])
df1$metric2015 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2015])
df1$metric2016 <- sum(df1$MCYCLE_DEATH_COUNT[df1$CRASH_YEAR==2016])

df1$CRASH_YEAR <- NULL
df1$MCYCLE_DEATH_COUNT <- NULL
df1<-df1[1,]
df1$label = "Total motorcycle deaths"
df1 = df1[,c(20,1:19)]

df2<-rbind(df1, c('Deaths per 100,000 registered motorcycles' ,51.4, 59.7, 56.6,71.2,56.6,54.8,59.2,55.1,65.5,55.7,63.0,61.4,52.5,56.7,49.9,51.9,45.2,46.9,45.1,49.0))

helmet_unknown <- motorcycle_data[c('CRASH_YEAR','MC_DVR_HLMTON_IND','MCYCLE_DEATH_COUNT')]
helmet_unknown <- subset(helmet_unknown, MCYCLE_DEATH_COUNT>=1,drop=FALSE)
for(unique_value in unique(helmet_unknown$MC_DVR_HLMTON_IND)){
helmet_unknown[paste("MC_DVR_HLMTON_IND", unique_value, sep = ".")] <- ifelse(helmet_unknown$MC_DVR_HLMTON_IND == unique_value, 1, 0)
}
helmet_unknown$metric1997 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==1997])
helmet_unknown$metric1998 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==1998])
helmet_unknown$metric1999 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==1999])
helmet_unknown$metric2000 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2000])
helmet_unknown$metric2001 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2001])
helmet_unknown$metric2002 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2002])
helmet_unknown$metric2003 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2003])
helmet_unknown$metric2004 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2004])
helmet_unknown$metric2005 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2005])
helmet_unknown$metric2006 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2007])
helmet_unknown$metric2008 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2008])
helmet_unknown$metric2009 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2009])
helmet_unknown$metric2010 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2010])
helmet_unknown$metric2011 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2011])
helmet_unknown$metric2012 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2012])
helmet_unknown$metric2013 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2013])
helmet_unknown$metric2014 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2014])
helmet_unknown$metric2015 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2015])
helmet_unknown$metric2016 <- sum(helmet_unknown$MC_DVR_HLMTON_IND.U[helmet_unknown$CRASH_YEAR==2016])
helmet_unknown<-helmet_unknown[1,]
helmet_unknown$label = "Unknown Helmet"
helmet_unknown <- helmet_unknown[ -c(1:7) ]
helmet_unknown = helmet_unknown[,c(20,1:19)]

helmet_yes <- motorcycle_data[c('CRASH_YEAR','MC_DVR_HLMTON_IND','MCYCLE_DEATH_COUNT')]
helmet_yes <- subset(helmet_yes, MCYCLE_DEATH_COUNT>=1)
for(unique_value in unique(helmet_yes$MC_DVR_HLMTON_IND)){
helmet_yes[paste("MC_DVR_HLMTON_IND", unique_value, sep = ".")] <- ifelse(helmet_yes$MC_DVR_HLMTON_IND == unique_value, 1, 0)
}
helmet_yes$metric1997 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==1997])
helmet_yes$metric1998 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==1998])
helmet_yes$metric1999 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==1999])
helmet_yes$metric2000 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2000])
helmet_yes$metric2001 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2001])
helmet_yes$metric2002 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2002])
helmet_yes$metric2003 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2003])
helmet_yes$metric2004 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2004])
helmet_yes$metric2005 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2005])
helmet_yes$metric2006 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2007])
helmet_yes$metric2008 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2008])
helmet_yes$metric2009 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2009])
helmet_yes$metric2010 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2010])
helmet_yes$metric2011 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2011])
helmet_yes$metric2012 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2012])
helmet_yes$metric2013 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2013])
helmet_yes$metric2014 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2014])
helmet_yes$metric2015 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2015])
helmet_yes$metric2016 <- sum(helmet_yes$MC_DVR_HLMTON_IND.Y[helmet_yes$CRASH_YEAR==2016])
helmet_yes<-helmet_yes[1,]
helmet_yes$label = "Helmet"
helmet_yes <- helmet_yes[ -c(1:7) ]
helmet_yes = helmet_yes[,c(20,1:19)]

helmet_no <- motorcycle_data[c('CRASH_YEAR','MC_DVR_HLMTON_IND','MCYCLE_DEATH_COUNT')]
helmet_no <- subset(helmet_no, MCYCLE_DEATH_COUNT>=1)
for(unique_value in unique(helmet_no$MC_DVR_HLMTON_IND)){
helmet_no[paste("MC_DVR_HLMTON_IND", unique_value, sep = ".")] <- ifelse(helmet_no$MC_DVR_HLMTON_IND == unique_value, 1, 0)
}
helmet_no$metric1997 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==1997])
helmet_no$metric1998 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==1998])
helmet_no$metric1999 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==1999])
helmet_no$metric2000 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2000])
helmet_no$metric2001 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2001])
helmet_no$metric2002 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2002])
helmet_no$metric2003 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2003])
helmet_no$metric2004 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2004])
helmet_no$metric2005 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2005])
helmet_no$metric2006 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2007])
helmet_no$metric2008 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2008])
helmet_no$metric2009 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2009])
helmet_no$metric2010 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2010])
helmet_no$metric2011 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2011])
helmet_no$metric2012 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2012])
helmet_no$metric2013 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2013])
helmet_no$metric2014 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2014])
helmet_no$metric2015 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2015])
helmet_no$metric2016 <- sum(helmet_no$MC_DVR_HLMTON_IND.N[helmet_no$CRASH_YEAR==2016])
helmet_no<-helmet_no[1,]
helmet_no$label = "No Helmet"
helmet_no <- helmet_no[ -c(1:7) ]
helmet_no = helmet_no[,c(20,1:19)]

helmets<-rbind(helmet_unknown,helmet_yes,helmet_no)
df3<-rbind(df2, helmets)

myf1 <- function(x) { sprintf('["%s",%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s]', 
                              x[1], x[2],x[3],x[4],x[5],x[6],x[7],x[8],x[9],x[10],x[11],x[12],x[13],x[13],x[14]
                             ,x[15],x[16],x[17],x[18],x[19],x[20])}
data <- apply(df3,1,myf1)
msg_str1 <- paste0('[',toString(data),']')


ui <- fluidPage(
        titlePanel("Fatalities and Registered Motorcycles"),

            mainPanel(
                       # make sure your billboard.min.css and billboard.min.js files are in the www directory
                        tags$script(src="//d3js.org/d3.v4.min.js"),
                        tags$head(tags$link(rel = "stylesheet", type = "text/css", href = "billboard.min.css")),
                        tags$script(src="billboard.min.js"),
 
                        # the id here is the same as the id in the first line of the js code
                        tags$div(id="CombinationChart"),

                        # load your javascript code
                        tags$script(src="my_script.js")
                    )
    )

server <- function(input, output, session) {
    
    #sends your msg_str you created above to the js code
    session$sendCustomMessage(type="get_data_from_shiny", msg_str1) 
}

shinyApp(ui=ui, server=server)

In [207]:
#DEPLOY TO SHINY SERVER
dir <- getwd() #This gets the current Working Directory
course <- "Summer_case_study" #This is to specify the course path for the shiny server
folder <- "interactive_graph" #This specifies the folder name to copy

system(sprintf("/usr/local/bin/shiny_deploy %s %s %s", course, dir,folder), 
       intern = TRUE,
       ignore.stdout = FALSE, 
       ignore.stderr = FALSE,
       wait = TRUE, 
       input = NULL)

[1] "Ignoring \"log file\" setting."
[2] "sending incremental file list"
[3] "interactive_graph/"
[4] "interactive_graph/app.R"
[5] "        9947 100%    0.00kB/s    0:00:00\r        9947 100%    0.00kB/s    0:00:00 (xfer#1, to-check=7/9)"
[6] ""
[7] "sent 10275 bytes  received 38 bytes  20626.00 bytes/sec"
[8] "total size is 30517061  speedup is 2959.09"